# core build
name: CO-RE
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  GO_VERSION: "1.18"

jobs:
  CO-RE:
    name: "Build eBPF driver(CO-RE)"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: "Git checkout"
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: "Install Dependencies"
        uses: ./.github/actions/build-dependencies
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Build CO-RE
        run: |
          cd plugins/ebpfdriver
          make core
      - name: Test
        run: |
          cd plugins/ebpfdriver
          make testing
